body {
	background-color: #DDDDDD;
}
#topmenu {
	background-color: #AAFFAA;
	float: left;
	width: 100%;
}
#sensortree {
	background-color: #FFAAAA;
	float: left;
	width: 20%;
}
#graphwindow {
	background-color: #AAAAFF;
	float: left;
	width: 80%;
}
#container {
	background-color: #DDDDDD;
	
}
#period {
	background-color: #DDDDDD;
	text-align: center;
}
